# tt lib/gene.tt -o /tmp/gene.rb -f

grammar GeneGrammar
  rule gene
    '(' item* ')'
  end

  rule item
    gene / array / hash / entity
  end

  rule array
    '[' item* ']'
  end

  rule hash
    '{' pair* '}'
  end

  rule pair
    item ':' item
  end

  rule entity
    [a-zA-Z-_+:]
  end

  rule array_id
    '$'
  end

  rule shortcut
    '::'
  end

  rule string
    '"' '"'
  end

  rule single_quoted_string
    "'" "'"
  end

  rule number
    '-'? ([0-9]+ '.')? [0-9]
  end

  rule boolean
    "true" / "false"
  end

  rule null
    "null"
  end

  rule single_line_comment
    "#" [^\n]* "\n"
  end

  rule group_comment
    '(##' item* ')' / '[##' item* ']' / '{##' item* '}'
  end

  rule space
    "\s" / "\t"
  end
end

